{# purpose of this template: options admin display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'adminBase' %}
{% extends 'MUPollsModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ option|mupollsmodule_formattedTitle|default(__('Option')) }}{% endblock %}
{% block title %}
    {% set templateTitle = option|mupollsmodule_formattedTitle|default(__('Option')) %}
    {{ templateTitle|notifyFilters('mupollsmodule.filter_hooks.options.filter')|safeHtml }}
    {% set itemActions = knp_menu_get('MUPollsModule:ItemActionsMenu:menu', [], {entity: option, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ option.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="mupollsmodule-option mupollsmodule-display">

    <dl>
        {% if option.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ option.title }}</dd>
        {% endif %}
        {% if option.colorOfOption is not empty %}
            <dt>{{ __('Color of option') }}</dt>
            <dd>{{ option.colorOfOption }}</dd>
        {% endif %}
        {% if option.idOfPoll is not empty %}
            <dt>{{ __('Id of poll') }}</dt>
            <dd>{{ option.idOfPoll }}</dd>
        {% endif %}
        
    </dl>

    {{ include('@MUPollsModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: option}) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {{ notifyDisplayHooks(eventName='mupollsmodule.ui_hooks.options.display_view', id=option.getKey(), urlObject=currentUrlObject) }}
{% endblock %}
