{# Purpose of this template: Display polls within an external context #}
<dl>
    {% for poll in items %}
        <dt>{{ poll.getTitleFromDisplayPattern() }}</dt>
        {% if poll.description %}
            <dd>{{ poll.description|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('mupollsmodule_poll_display', { 'id': poll.id }) }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
