{# purpose of this template: build the admin form to edit an instance of vote #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'adminBase' %}
{% extends 'MUPollsModule::' ~ baseTemplate ~ '.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@MUPollsModule:js/MUPollsModule.Validation.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@MUPollsModule:js/MUPollsModule.EditFunctions.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUPollsModule:js/MUPollsModule.InlineEditing.js'), 99) }}
    {{ pageAddAsset('javascript', zasset('@MUPollsModule:js/MUPollsModule.AutoCompletion.js'), 99) }}
{% endblock %}
{% block title mode == 'create' ? __('Create vote') : __('Edit vote') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="mupollsmodule-vote mupollsmodule-edit">
        {% form_theme form with [
            '@MUPollsModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form, {attr: {id: 'voteEditForm', class: 'mupolls-edit-form'}}) }}
        {{ form_errors(form) }}
        <fieldset>
            <legend>{{ __('Content') }}</legend>
            {{ form_row(form.idOfOption) }}
            {{ form_row(form.idOfPoll) }}
        </fieldset>
        
        {% if mode != 'create' %}
            {{ include('@MUPollsModule/Helper/includeStandardFieldsEdit.html.twig', {obj: vote}) }}
        {% endif %}
        
        {% if formHookTemplates|length > 0 %}
            <fieldset>
                {% for hookTemplate in formHookTemplates %}
                    {{ include(hookTemplate.0, hookTemplate.1, ignore_missing = true) }}
                {% endfor %}
            </fieldset>
        {% endif %}
        
        {% if form.moderationSpecificCreator is defined %}
            <fieldset id="moderationFieldsSection">
                <legend>{{ __('Moderation') }} <i class="fa fa-expand"></i></legend>
                <div id="moderationFieldsContent">
                    {{ form_row(form.moderationSpecificCreator) }}
                    {{ form_row(form.moderationSpecificCreationDate) }}
                </div>
            </fieldset>
        {% endif %}
        
        {# include return control #}
        {% if mode == 'create' %}
            <fieldset>
                <legend>{{ __('Return control') }}</legend>
                {{ form_row(form.repeatCreation) }}
            </fieldset>
        {% endif %}
        
        {# include possible submit actions #}
        <div class="form-group form-buttons">
            <div class="col-sm-offset-3 col-sm-9">
                {% for action in actions %}
                    {{ form_widget(attribute(form, action.id)) }}
                {% endfor %}
                {{ form_widget(form.reset) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% set hookId = mode != 'create' ? vote.id : null %}
        {{ notifyDisplayHooks(eventName='mupollsmodule.ui_hooks.votes.form_edit', id=hookId) }}
        
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {% set formInitScript %}
        <script type="text/javascript">
        /* <![CDATA[ */
            
            ( function($) {
                $(document).ready(function() {
                    // initialise auto completion for user fields
                    {% if form.moderationSpecificCreator is defined %}
                        initUserLiveSearch('mupollsmodule_vote_moderationSpecificCreator');
                    {% endif %}
                    mUPollsInitEditForm('{{ mode }}', '{% if mode != 'create' %}{{ vote.id }}{% endif %}');
                });
            })(jQuery);
        /* ]]> */
        </script>
    {% endset %}
    {{ pageAddAsset('footer', formInitScript) }}
{% endblock %}
