{# Purpose of this template: Display options within an external context #}
<dl>
    {% for option in items %}
        <dt>{{ option|mupollsmodule_formattedTitle }}</dt>
        {% if option.title %}
            <dd>{{ option.title|striptags|truncate(200, true, '&hellip;') }}</dd>
        {% endif %}
        <dd><a href="{{ path('mupollsmodule_option_display', {'id': option.getId()}) }}" title="{{ __('Read more')|e('html_attr') }}">{{ __('Read more') }}</a>
        </dd>
    {% else %}
        <dt>{{ __('No entries found.') }}</dt>
    {% endfor %}
</dl>
