{# purpose of this template: polls user display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : 'base' %}
{% extends 'MUPollsModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ poll|mupollsmodule_formattedTitle|default(__('Poll')) }}{% endblock %}
{% block title %}
    {% set templateTitle = poll|mupollsmodule_formattedTitle|default(__('Poll')) %}
    {{ templateTitle|notifyFilters('mupollsmodule.filter_hooks.polls.filter')|safeHtml }}{% if routeArea == 'admin' %} <small>({{ poll.workflowState|mupollsmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('MUPollsModule:ItemActionsMenu:menu', [], {entity: poll, area: routeArea, context: 'display'}) %}
    <div class="dropdown">
        <a id="itemActions{{ poll.getKey() }}DropDownToggleStart" role="button" data-toggle="dropdown" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:bootstrap_fontawesome.html.twig'}) }}
    </div>
{% endblock %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="mupollsmodule-poll mupollsmodule-display">

    <dl>
        {% if poll.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ poll.workflowState|mupollsmodule_listEntry('poll', 'workflowState') }}</dd>
        {% endif %}
        {% if poll.title is not empty %}
            <dt>{{ __('Title') }}</dt>
            <dd>{{ poll.title }}</dd>
        {% endif %}
        {% if poll.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ poll.description|safeHtml }}</dd>
        {% endif %}
        {% if poll.multiple is not empty %}
            <dt>{{ __('Multiple') }}</dt>
            <dd>{% if poll.multiple %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        {% if poll.dateOfStart is not empty %}
            <dt>{{ __('Date of start') }}</dt>
            <dd>{% if poll.dateOfStart is not empty %}
                {{ poll.dateOfStart|localizeddate('medium', 'short') }}
            {% endif %}</dd>
        {% endif %}
        {% if poll.dateOfEnd is not empty %}
            <dt>{{ __('Date of end') }}</dt>
            <dd>{% if poll.dateOfEnd is not empty %}
                {{ poll.dateOfEnd|localizeddate('medium', 'short') }}
            {% endif %}</dd>
        {% endif %}
        {% if poll.inFrontend is not empty %}
            <dt>{{ __('In frontend') }}</dt>
            <dd>{% set itemId = poll.getKey() %}
            <a id="toggleInFrontend{{ itemId }}" href="javascript:void(0);" class="mupolls-ajax-toggle hidden" data-object-type="poll" data-field-name="inFrontend" data-item-id="{{ itemId }}">
                <i class="fa fa-check{% if not poll.inFrontend %} hidden{% endif %}" id="yesInFrontend{{ itemId }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if poll.inFrontend %} hidden{% endif %}" id="noInFrontend{{ itemId }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            </a>
            <noscript><div id="noscriptInFrontend{{ itemId }}">
                {% if poll.inFrontend %}
                    <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                {% else %}
                    <i class="fa fa-times" title="{{ __('No') }}"></i>
                {% endif %}
            </div></noscript>
            </dd>
        {% endif %}
        
    </dl>

    <h3 class="hook-assignments">{{ __('Hook assignments') }}</h3>
        {% if hookAssignments|length > 0 %}
            <p>{{ __('This poll is assigned to the following data objects:') }}</p>
            <ul>
            {% for assignment in hookAssignments %}
            	<li><a href="{{ assignment.url|e('html_attr') }}" title="{{ __('View this object')|e('html_attr') }}">{{ assignment.date|localizeddate('medium', 'short') }} - {{ assignment.text }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{ __('This poll is not assigned to any data objects yet.') }}</p>
        {% endif %}
    {{ include('@MUPollsModule/Helper/includeStandardFieldsDisplay.html.twig', {obj: poll}) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='mupollsmodule.ui_hooks.polls.display_view', id=poll.getKey(), urlObject=currentUrlObject, outputAsArray=true) %}
    {% if hooks is iterable and hooks|length > 0 %}
        {% for area, hook in hooks %}
            <div class="z-displayhook" data-area="{{ area|e('html_attr') }}">{{ hook|raw }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
